@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-MediumItalic.eot');
    src: url('fonts/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-MediumItalic.woff2') format('woff2'),
        url('fonts/Roboto-MediumItalic.woff') format('woff'),
        url('fonts/Roboto-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Italic.eot');
    src: url('fonts/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-Italic.woff2') format('woff2'),
        url('fonts/Roboto-Italic.woff') format('woff'),
        url('fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Thin.eot');
    src: url('fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-Thin.woff2') format('woff2'),
        url('fonts/Roboto-Thin.woff') format('woff'),
        url('fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-LightItalic.eot');
    src: url('fonts/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-LightItalic.woff2') format('woff2'),
        url('fonts/Roboto-LightItalic.woff') format('woff'),
        url('fonts/Roboto-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Medium.eot');
    src: url('fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-Medium.woff2') format('woff2'),
        url('fonts/Roboto-Medium.woff') format('woff'),
        url('fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-BlackItalic.eot');
    src: url('fonts/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-BlackItalic.woff2') format('woff2'),
        url('fonts/Roboto-BlackItalic.woff') format('woff'),
        url('fonts/Roboto-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-ThinItalic.eot');
    src: url('fonts/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-ThinItalic.woff2') format('woff2'),
        url('fonts/Roboto-ThinItalic.woff') format('woff'),
        url('fonts/Roboto-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-BoldItalic.eot');
    src: url('fonts/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-BoldItalic.woff2') format('woff2'),
        url('fonts/Roboto-BoldItalic.woff') format('woff'),
        url('fonts/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.eot');
    src: url('fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-Regular.woff2') format('woff2'),
        url('fonts/Roboto-Regular.woff') format('woff'),
        url('fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Bold.eot');
    src: url('fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-Bold.woff2') format('woff2'),
        url('fonts/Roboto-Bold.woff') format('woff'),
        url('fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Light.eot');
    src: url('fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-Light.woff2') format('woff2'),
        url('fonts/Roboto-Light.woff') format('woff'),
        url('fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Black.eot');
    src: url('fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-Black.woff2') format('woff2'),
        url('fonts/Roboto-Black.woff') format('woff'),
        url('fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

:root
{
    --font-family: 'Roboto';
    font-family: var(--font-family);
    --mainlightcolor:#FFFFFF;
    --lightblockcolor:#EDF3F6;
    --darkblockcolor:rgba(158, 207, 230, 0.49);
    --darkaccentcolor:#225B93;
    --maindarkcolor:#08263F;
    --darkfontcolor:#031622;
    --lightaccentcolor:#FED097;
    --softlightaccentcolor:#FBEED7;
    --regularfontsize:16px;
    --smallfontsize:16px;
    --mediumfontsize:19px;
    --bigfontsize:24px;
    --biggerfontsize:36px;
    --secondarycolor:rgba(8, 38, 63, 0.6);
}
*
{
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}
.header
{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}
.logo
{
    padding-top: 18px;
}
.menu
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
a
{
    text-decoration: none;
}
.menu_link
{
    font-weight: 400;
    font-size: 16px;
    color: var(--mainlightcolor);
    padding:23px;
    text-align: center;
}

.cart
{
    padding-top: 9px;
    text-align: right;
}

button
{
    min-height: 54px;
    border-radius: 27px;
    border:none;
    cursor:pointer;
    font-size: var(--regularfontsize);
    z-index: 100;
}
body
{
    display: flex;
    justify-content: center;
}
div.page_layout
{
    width: 1440px;
}
.page_block
{
    transition: all 0.5s ease-in;
    opacity: 0;
}
.page_block>*
{
    opacity: 0;
    transition: all 0.7s ease-out;
    transform:translateY(40px);
}
.page_layout_block_after 
{
    transition: all 0.5s ease-in;
    opacity: 1;
}
.page_layout_block_after>*
{
    transition: all 0.7s ease-out;
    opacity: 1;
    transform: translateY(0px);
}
.mainblock
{
    background-image: url('images/firstwallpaper.png');
    background-size: cover;
    height: 711px;
    padding:0px 70px 50px 70px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    z-index: 1;
}
.mainblock_content
{
    display: flex;
    justify-content: left;
    grid-row: 3;
}
.mainblock_content_grid
{
    max-width: 33%;
    display: grid;
    grid-template-rows: 4fr 1fr auto;
}
.mainblock_content_grid_button
{
    grid-row: 3;
}
.transparentbutton
{
    transition: all 0.2s ease;
    background-color: rgba(0,0, 0, 0);
}
.transparentbutton:hover
{
    transition: all 0.2s ease;
    background-color: rgba(0,0, 0, 0.2);
}
.borderbutton
{
    border: 1pt solid var(--blackcolor);
}
.hugefontsize
{
    font-size: 81px;
}
.mainlightcolor
{
    color:var(--mainlightcolor);
}
.darkbutton
{
    transition: 0.2s all ease;
    background-color: var(--darkaccentcolor);
    color: var(--mainlightcolor);
    width: fit-content;
    padding: 0px 31px;
}
.darkbutton:hover
{
    transition: 0.2s all ease;
    background-color: var(--maindarkcolor);
}
.flexcolumnblock
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.descriptionblock
{
    background-color: var(--maindarkcolor);
    min-height: 519px;
    z-index: 2;
}
.descriptionblock>p
{
    max-width: 60%;
    text-align: center;
    margin: 15px;
}
.descriptionblock>p:nth-child(1)
{
    color: var(--lightaccentcolor);
    font-size: var(--mediumfontsize);
}

.descriptionblock>p:nth-child(2)
{
    color: var(--mainlightcolor);
    font-size: var(--biggerfontsize);
}
.ourpromisesblock
{
    padding: 42px;
    background-color: var(--lightblockcolor);
    z-index: 3;
}
.ourpromisesblock>p
{
    margin: 21px;
    color: var(--darkfontcolor);
    font-size: var(--biggerfontsize);
    line-height: 40px;
}
div.promisesgrid
{  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
}
div.promisesgrid_part
{
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    margin-top: 29px;
}
div.promisetitle
{
    fill:var(--darkfontcolor);
    font-size: var(--bigfontsize);
    line-height: 26px;
}
div.promisetitle>*
{
    margin-bottom:21px;
}
.promisedesc
{
    font-size: var(--regularfontsize);
    padding: 14px;
    max-width: 310px;
    line-height: 24px;
}
.block
{
    display: block;
}
.ourproductsblock
{
    padding: 70px 0px 140px 0px;
    z-index: 4;
}
.ourproductsblock>*
{
    margin:40px 0px;
}
.ourproductsblock
{
    margin:20px 0px;
}
.darkaccentcolor
{
    color:var(--darkaccentcolor);
}
.mediumfontsize
{
    font-size: var(--mediumfontsize);
}
.biggerfontsize
{
    font-size: var(--biggerfontsize);
}
.productblock
{
    width: 100%;
    display: grid;
    height: 500px;
    grid-template-columns: 1fr 1fr 1fr;
}
.product1to2>div:nth-child(2)
{
    grid-column-start: 2;
    grid-column-end: 4;
    
}
.product1to2>div:nth-child(1)
{
    background-image: url('images/whiteningpen.png');
    background-size: cover;
}
.product2to1>div:nth-child(1)
{
    grid-column: 1/3;
}
.product2to1>div:nth-child(2)
{
    background-image: url('images/whiteninggel.png');
    background-size: cover;
}
.darkblockcolor
{
    background-color: var(--darkblockcolor);
}
.lightblockcolor
{
    background-color: var(--lightblockcolor);
}
.productdesc
{
    position: relative;
    padding: 68px 40px 40px 40px;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}
.productdesc>p
{
    display: block;
    text-align: left;
}

.productdesc>button
{
    width: 100%;
    display: block;
    grid-row: 4;
}
.productdesc>img
{
    position: absolute;
    justify-self: center;
    align-self: center;
    width: 50%;

}
.secondarycolor
{
    color: var(--secondarycolor);
}
.darkfontcolor
{
    color: var(--darkfontcolor);
}
.bigfontsize
{
    font-size: var(--bigfontsize);
}
.productintro>*
{
    margin: 25px;
}
.advantageblock
{
    background-color: var(--lightblockcolor);
    text-align: center;
    padding: 115px 0px 220px 0px;
    z-index: 5;
}
.advantageblock>*
{
    max-width: 60%;
    margin: 15px;
}

.customerreviewsblock
{
    padding: 114px 0px 195px 0px;
    z-index: 6;
}
.customerreviewsblock>img
{
    margin-top: 96px;
    width: 100%;
    height: 100%;
}
.customerreviewsblock>p.biggerfontsize
{
    margin-top: 39px;
}
.lightaccentcolor
{
    color:var(--lightaccentcolor);
}
.maindarkcolor
{
    background-color: var(--maindarkcolor);
}
.adviceblock
{
    padding: 0px 179px 45px 178px;
    z-index: 7;
}
.advice
{
    overflow: hidden;
    position: relative;
    margin: 85px 0px;
    height: 620px;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
}
.advice:nth-child(2)
{
    margin-bottom: 45px;
}
.advice>img
{
    position: absolute;
    width: 80%;
    height: auto;
    margin: 0;
}
.advicedesc
{
    width: 27%;
    min-height: 67%;
    margin: 70px 0px;
    padding: 93px 72px 20px 50px;
    display:grid;
    grid-template-rows: min-content auto min-content;
    z-index: 100;
}
.advicedesc>p.biggerfontsize
{
    margin-bottom: 55px;
}
.advicedesc>p.regularfontsize
{
    line-height: 24px;
    max-width: 296px;
}
.advicedesc>button
{
    transition: all 0.2s ease;
    background-color: rgba(0,0, 0, 0);
    color: var(--maindarkcolor);
    width: fit-content;
    padding: 0px 31px;
    border:1pt solid var(--maindarkcolor);
}
.advicedesc>button:hover
{
    transition: all 0.2s ease;
    background-color: rgba(0,0, 0, 0.07);
}
.advice:nth-child(1)
{
    justify-content: flex-end;
}
.advice:nth-child(1)>div
{
    margin-top: 105px;
}
.advice:nth-child(2)
{
    justify-content: flex-start;
}
.advice:nth-child(1)>img
{
    left: 0;
}
.advice:nth-child(2)>img
{
    right: 0;
}
.regularfontsize
{
    font-size: var(--regularfontsize);
}
.softlightaccentblock
{
    background-color: var(--softlightaccentcolor);
}
footer
{
    background-color: var(--maindarkcolor);
    padding: 100px 70px 31px 70px;
    display: grid;
    grid-template-columns: 196fr 225fr 139fr 200fr 204fr;
    grid-template-rows: auto 1fr auto;
    z-index: 8;
}
footer>*:nth-child(10)
{
    margin-top: 77px;
    font-size: var(--regularfontsize);
    color: var(--mainlightcolor);
    grid-row: 3;
    grid-column: 1;
}
footer>*
{
    color: var(--mainlightcolor);
}
.footer_menu>a>p
{
    color: var(--mainlightcolor);
    font-size: var(--regularfontsize);
    margin-bottom: 15px;
    line-height: 19px;
}
.gc2
{
    grid-column: 2;
}
.gc3
{
    grid-column: 3;
}
.gc4
{
    grid-column: 4;
}
footer>p.footer_menu_title
{
    color: var(--lightaccentcolor);
    font-size: var(--mediumfontsize);
    
}
.footer_menu_title
{
    margin-bottom: 39px;
}
.contacts
{
    display: flex;
    flex-direction: column;
}
.contacts>input
{
    background-color: transparent;
    border: none;
    border-bottom: 1pt solid var(--mainlightcolor);
    color: var(--mainlightcolor);
    margin-bottom: 29px;
    outline: none;
}
.contacts>button
{
    color: var(--mainlightcolor);
    border: 1pt solid var(--mainlightcolor);
    width: min-content;
    padding: 0px 31px;
    margin-bottom:65px;
}
.socialwebs>*
{
    margin-right: 24px;
}
